*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background: linear-gradient(30deg, #280037, #3c0029,#002b58, #5a0015);
    background-size: 300% 300%;
    animation: fade 15s ease-in-out infinite;
}footer{
    min-height: 5vh;
    background-color: #280037;
}

p{
    font-family: Caviar;
}b{
    font-family: CaviarBold;
}


#juegos__main__container__boton-comprar{
    width: 80px;
}

#index__main{
    background-color: palevioletred;
    background-image: url(/assets/sunset.gif) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom;
}#juegos__main{
    background-image: url(/assets/retrocity.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}#noticias__main{
    height: 1000px;
    background-image: url(/assets/loopbackground.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}#contacto__main{
    height: 1000px;
    background-image: url(/assets/arcaderetro.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}#faq__main{
    min-height: 85vh;
    background-image: url(../assets/loopbackground5.gif);
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}

#mapa{
    margin: 0px;
    height: 350px;
    width: 370px;
}



#index__main__section-2{
    background: linear-gradient(30deg, #280037, #3c0029,#002b58, #5a0015);
    background-size: 300% 300%;
    animation: fade 15s ease-in-out infinite;
}
#contacto__main__box{
    height: 600px;
}
#header__login a{
    font-family: Caviar;
}
#contacto__numero-email p{
    font-family: CaviarBold !important;
}
#index__main__navbar__dropdown{
    font-family: CaviarBold !important;
}
#header__login a:hover{
    color: yellow !important;
}

#main__container__noticia{
    height: 800px;
}#main__container__noticia p,b{
    text-align: start;
    font-family: arial;
}
#main__container__info{
    height: 800px;
}#main__container__info p,b{
    text-align: center !important;
}

@keyframes fade{
    0%{background-position: 0 50%;}
    30%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

@font-face {
    font-family: "Caviar";
    src: url(../assets/CaviarDreams.ttf);
}@font-face {
    font-family: "CaviarBold";
    src: url(../assets/CaviarDreams_Bold.ttf);
}@font-face {
    font-family: "CaviarItalic";
    src: url(../assets/CaviarDreams_Italic.ttf);
}

@media (min-width: 576px) {
    #mapa{
        height: 400px;
        width: 450px;
    }
}

@media (min-width: 768px) {
    #mapa{
        width: 425px;
    }
}

@media (min-width: 992px) { 
    #mapa{
        width: 500px;
    }
}

@media (min-width: 1200px) {
    #mapa{
        width: 550px;
    }
}

@media (min-width: 1400px) {

}