#contacto__main{
    height: 1000px;
    background-image: url(/assets/arcaderetro.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
    #contacto__main__box{
        height: 600px;
        #contacto__main__box__mapa{
            margin: 0px;
            height: 350px;
            width: 370px;
        }
    }
    #contacto__main__numero-email p{
        font-family: $fuente-negrita !important;
    }
}