#faq__main{
    min-height: 85vh;
    background-image: url(../assets/loopbackground5.gif);
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}