#juegos__main{
    background-image: url(/assets/retrocity.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
}