#noticias__main{
    height: 1000px;
    background-image: url(/assets/loopbackground.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center  !important;
    background-size: cover;
    #noticias__main__row{
        #noticias__main__row__noticia{
            height: 800px;
            overflow: scroll;
            #noticias__main__row__noticia p,b{
                text-align: start;
                font-family: arial;
            }
        }
        #noticias__main__row__info{
            height: 800px;
            #noticias__main__row__info p,b{
                text-align: center !important;
            }
        }
    }
    
}