@import './variables';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-family: $fuente-parrafo;
}
b{
    font-family: $fuente-negrita;
}
@import './header';
@import './index';
@import './juegos';
@import './noticias';
@import './contacto';
@import './faq';
@import './footer';
@import './animations';
@import './mediaquerys';

